<?xml version="1.0"?>
<config>
    <modules>
        <Solsint_Proextended>
            <version>0.1.0</version>
        </Solsint_Proextended>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <proextended before="Mage_Adminhtml">Solsint_Proextended</proextended>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>