<?xml version="1.0"?>
<config>
    <modules>
        <Solsint_Proextended>
            <version>0.1.0</version>
        </Solsint_Proextended>
    </modules>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <proextended before="Mage_Adminhtml">Solsint_Proextended</proextended>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <rewrite>
            <module_catalog_product>
                <from><![CDATA[#^/.*/catalog_product/#]]></from>
                <to>/proextended/adminhtml_catalog_product/</to>
            </module_catalog_product>
        </rewrite>
    </global>
</config>