<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Li_Extendcontroller>
            <version>0.0.1</version>
        </Li_Extendcontroller>
    </modules>
    <global>
        <helpers>
            <extendcontroller>
                <class>Li_Extendcontroller_Helper</class>
            </extendcontroller>
        </helpers>
        <rewrite>
            <li_extendcontroller_adminhtml_extendcontroller_subscriptioncontroller>
                <from><![CDATA[#^/.*/catalog_product/new/#]]></from>
                <to>/extendcontroller/adminhtml_catalog_product/new/</to>
                <!--<to>/orderprint/adminhtml_extendcontroller_subscription/</to>-->
            </li_extendcontroller_adminhtml_extendcontroller_subscriptioncontroller>
        </rewrite>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <!-- url: admin/{{module_name}}_{{action_controller}} -->
                        <extendcontroller before="Mage_Adminhtml">Li_Extendcontroller_Adminhtml</extendcontroller>
                        <frontName>extendcontroller</frontName>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <extendcontroller>
                <use>standard</use>
                <args>
                    <module>Li_Extendcontroller</module>
                    <frontName>extendcontroller</frontName>
                </args>
            </extendcontroller>
        </routers>
        <layout>
            <updates>
                <extendcontroller>
                    <!--file in theme-->
                    <file>extendcontroller.xml</file>
                </extendcontroller>
            </updates>
        </layout>
        <translate>
            <modules>
                <Li_Extendcontroller>
                    <files>
                        <default>Li_Extendcontroller.csv</default>
                    </files>
                </Li_Extendcontroller>
            </modules>
        </translate>
    </frontend>
</config>