<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Li_Extendcontroller>
            <version>0.0.1</version>
        </Li_Extendcontroller>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <!-- url: admin/{{module_name}}_{{action_controller}} -->
                        <extendcontroller before="Mage_Adminhtml">Li_Extendcontroller_Adminhtml</extendcontroller>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>