.alignCenter {
    text-align: center;
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.inlineBlock {
    display: inline-block;
}

.displayNone {
    display: none;
}

.form-language label {
    color: whitesmoke;
}

.banner-title {
    color: whitesmoke;
}

div#banner {
    background-image: url("../../images/aboutme/banner_01.jpg");
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 573px;
}

div.pageToTop {
    position: fixed;
    right: 3%;
    bottom: 5%;
}

.goldenrod {
    color: goldenrod;
}
