<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Li_Channelsinfo>
            <version>0.0.4</version>
        </Li_Channelsinfo>
    </modules>
    <global>
        <blocks>
            <channelsinfo>
                <class>Li_Channelsinfo_Block</class>
            </channelsinfo>
        </blocks>
        <helpers>
            <channelsinfo>
                <class>Li_Channelsinfo_Helper</class>
            </channelsinfo>
        </helpers>
        <models>
            <channelsinfo>
                <class>Li_Channelsinfo_Model</class>
                <resourceModel>channelsinfo_resource</resourceModel>
            </channelsinfo>
            <!--for database-->
            <channelsinfo_resource>
                <class>Li_Channelsinfo_Model_Resource</class>
                <entities>
                    <channelsinfo>
                        <table>catalog_product_attribute_channelsinfo</table>
                    </channelsinfo>
                </entities>
            </channelsinfo_resource>
        </models>
        <resources>
            <channelsinfo_setup>
                <setup>
                    <module>Li_Channelsinfo</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </channelsinfo_setup>
        </resources>
    </global>
    <default>
        <channelsinfo>
            <channels_info>
                <channels_list>amazon</channels_list>
            </channels_info>
        </channelsinfo>
    </default>
</config>