<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Li_Customform>
            <version>0.0.1</version>
        </Li_Customform>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <!-- url: admin/{{module_name}}_{{action_controller}} -->
                        <customform before="Mage_Adminhtml">Li_Customform_Adminhtml</customform>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <blocks>
            <customform>
                <class>Li_Customform_Block</class>
            </customform>
        </blocks>
        <helpers>
            <customform>
                <class>Li_Customform_Helper</class>
            </customform>
        </helpers>
        <models>
            <customform>
                <class>Li_Customform_Model</class>
                <resourceModel>customform_resource</resourceModel>
            </customform>
            <!--for database-->
            <customform_resource>
                <class>Li_Customform_Model_Resource</class>
                <entities>
                    <subscription>
                        <table>customform_subscription</table>
                    </subscription>
                </entities>
            </customform_resource>
        </models>
        <resources>
            <customform_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customform_read>
            <customform_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customform_write>
            <customform_setup>
                <setup>
                    <module>Li_Customform</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customform_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <customform>
                <use>standard</use>
                <args>
                    <module>Li_Customform</module>
                    <frontName>customform</frontName>
                </args>
            </customform>
        </routers>
        <layout>
            <updates>
                <default>
                    <remove name="store_language" />
                </default>
                <customform>
                    <!--file in theme-->
                    <file>customform.xml</file>
                </customform>
            </updates>
        </layout>
        <translate>
            <modules>
                <Li_Customform>
                    <files>
                        <default>Li_Customform.csv</default>
                    </files>
                </Li_Customform>
            </modules>
        </translate>
    </frontend>
</config>