<?xml version="1.0"?>
<config>
    <tabs>
        <li_module>
            <label>Li_Custom_Module</label>
            <sort_order>600</sort_order>
        </li_module>
    </tabs>
    <sections>
        <customform translate="label" module="customform">
            <label>Customform</label>
            <tab>li_module</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <hellopage translate="label">
                    <label>Hello page setting</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <header_title translate="label">
                            <label>Header Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </header_title>
                    </fields>
                </hellopage>
            </groups>
        </customform>
    </sections>
    <acl>
        <resources>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <customform translate="title" module="customform">
                                        <title>Customform Index Page</title>
                                        <sort_order>10</sort_order>
                                    </customform>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
</config>